[submodule "Vision_CENTRAL"]
	path = Vision_CENTRAL
	url = https://github.com/Adarsh26062002/vision-central.git
[submodule "Vision_Merchandising"]
	path = Vision_Merchandising
	url = https://github.com/Adarsh26062002/vision-merchandising.git
